<!DOCTYPE html>
<html>
<head>
	<title>OAuth2 authorization credentials</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/swagger-ui.css">
	<style>
		input {
			width: 99%;
		}
		input[type=text]:read-only {
			background: lightgrey;
		}
 </style> 
</head>
<body>
	<div class="swagger-ui">
		<div class="dialog-ux">
			<div class="backdrop-ux"></div>
				<div class="modal-ux">
					<div class="modal-dialog-ux">
						<div class="modal-ux-inner">
							<div class="modal-ux-header">
								<h3>Please, enter your credentials below</h3>
									<button type="button" class="close-modal" onclick="window.close()">
										<svg width="20" height="20">
											<use href="#close" xlink:href="#close">
											<symbol viewBox="0 0 20 20" id="close">
      									<path d="M14.348 14.849c-.469.469-1.229.469-1.697 0L10 11.819l-2.651 3.029c-.469.469-1.229.469-1.697 0-.469-.469-.469-1.229 0-1.697l2.758-3.15-2.759-3.152c-.469-.469-.469-1.228 0-1.697.469-.469 1.228-.469 1.697 0L10 8.183l2.651-3.031c.469-.469 1.228-.469 1.697 0 .469.469.469 1.229 0 1.697l-2.758 3.152 2.758 3.15c.469.469.469 1.229 0 1.698z"></path>
    										</symbol>
											</use>
										</svg>
									</button>
							</div>
							<div class="modal-ux-content">
								<div class="auth-container">
									<form method="POST">
										<div class="wrapper" style="display: inline-grid; width: 49%">
											<label for="client_id">clientId:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="client_id"
															 id="client_id"
															 type="text" readonly>
											</section>
										</div>
										<div class="wrapper" style="display: inline-grid; width: 49%">
											<label for="scope">scopes:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="scope"
															 id="scope"
															 type="text" readonly>
											</section>
										</div>
										<div class="wrapper">
											<label for="redirect_uri">redirectUri:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="redirect_uri"
															 id="redirect_uri"
															 style="width: 98.5%"
															 type="text" readonly>
											</section>
										</div>
										<div class="wrapper" style="display: inline-grid; width: 49%">
											<label for="response_type">responseType:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="response_type"
															 id="response_type"
															 type="text" readonly>
											</section>
										</div>
										<div class="wrapper" style="display: inline-grid; width: 49%">
											<label for="grant_type">grantType:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="grant_type"
															 id="grant_type"
															 type="text" readonly>
											</section>
										</div>
										<div class="wrapper">
											<label for="state">state:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="state"
															 id="state"
															 style="width: 98.5%"
															 type="text" readonly>
											</section>
										</div>
										<div class="wrapper" style="display: inline-grid; width: 49%">
											<label for="username">username:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="username"
															 id="username"
															 type="text"
                               width="99%"
															 value="username">
											</section>
										</div>
										<div class="wrapper" style="display: inline-grid; width: 49%">
											<label for="password">password:</label>
											<section class="block-tablet col-10-tablet block-desktop col-10-desktop">
												<input name="password"
															 id="password"
															 type="password"
															 value="password">
											</section>
										</div>
										<div style="display: none; margin: 0 1em 0 0" class="errors"></div>
										<div class="auth-btn-wrapper">
											<button class="btn modal-btn auth authorize button" style="margin-right: 2px; margin-left: -5px">
												Login
											</button>
											<button class="btn modal-btn auth btn-done button" style="margin-right: 3px; margin-left: 3px" onclick="window.close()">
												Close
											</button>
										</div>
									</form>
									<script>
									;(function(){
										const urlParams = new URLSearchParams(window.location.search)
										;['client_id','redirect_uri', 'response_type', 'grant_type', 'state', 'scope'].forEach(type => {
											const input = document.body.querySelector(`input[name=${type}]`)
											const value = urlParams.get(type)
											input.value = value
										})
										const error = urlParams.get('success') === 'false'
										if(error) {
											const errorsDiv =
												document.body.querySelector('div[class=errors]')
											errorsDiv.style.display = 'block'
											errorsDiv.innerHTML += '<b>Auth Error</b><span>Either user (<i>username</i>, <i>password</i>) or client (clientId, clientSecret) might be incorrect. Please, check user input or go back and check client input for errors.</span>';
										}
									}())
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
