const fs = require('fs');
const path = require('path');
const swaggerUI = require('swagger-ui-express');
const yamljs = require('yamljs');
const express = require('express');
const cors = require('cors');
const cookieParser = require('cookie-parser');
const bodyParser = require('body-parser');
const OpenApiValidator = require('express-openapi-validator');
const openapiRouter = require('./utils/openapiRouter');
const logger = require('./logger');
const expressWinston = require('express-winston');
const nodeDI = require('node-dependency-injection-express-middleware').default;
const xmlparser = require('express-xml-bodyparser');
const debug = require('debug')('server')
// if authServer = true
const OAuthServer = require('express-oauth-server');
const { Request, Response } = require('oauth2-server');
const url = require('url');
{{#authMethods}}
{{#vendorExtensions.x-draig-auth-handler}}
{{#-first}}
const AuthHandler = require('../ext/AuthHandler');
{{/-first}}
{{/vendorExtensions.x-draig-auth-handler}}
{{/authMethods}}

class ExpressServer {
  constructor(port, openApiYaml) {
    this.port = port;
    this.app = express();
    this.openApiPath = openApiYaml;
    this.schema = yamljs.load(openApiYaml);
    this.setupMiddleware();
  }

  setupMiddleware() {
		// API requires no cache
		this.app.set('etags', false);
		this.app.use((req, res, next) => {
			res.set('Cache-Control', 'no-store');
			next()
		});
		this.app.use(cors());
		this.app.use(bodyParser.json());
		this.app.use(express.json());
		this.app.use(express.urlencoded({ extended: false }));
		// Only if you want OAuth server to be generated oauthServer: true
		const OAuthModel = require('./oamodel');
		this.app.oauth = new OAuthServer({
			model: new OAuthModel(),
			grants: ['authorization_code', 'refresh_token'],
			authorizationCodeLifetime: 60 * 60 * 24,
			accessTokenLifetime: 60 * 5,
			allowExtendedTokenAttributes: true,
			useErrorHandler: true
		});
		this.app.use(cookieParser());
		this.app.use(xmlparser({
			explicitRoot: false, explicitArray: false, normalizeTags: false
		}));
		this.app.use('/spec', express.static(path.join(__dirname, 'api')));
		this.app.use('/api-docs', swaggerUI.serve, swaggerUI.setup(this.schema, {
			swaggerOptions: {
				oauth2RedirectUrl:
					'http://{{host}}:{{serverPort}}/api-docs/oauth2-redirect.html',
				oauth: {
					clientId: 'client',
					clientSecret: 'pass',
					//usePkceWithAuthorizationCodeGrant: true // if your want - it works
				}
			}
		}));
		this.app.use(expressWinston.logger({
			requestWhitelist: [ ...expressWinston.requestWhitelist, 'body' ],
			responseWhitelist: [...expressWinston.responseWhitelist, 'body'],
			winstonInstance: logger
		}));
    if(fs.existsSync('../ext/di.yaml'))
      this.app.use(new nodeDI({
        logger,
        defaultDir: path.join(__dirname, '../ext'), 
        serviceFilePath: '../ext/di.yaml'
      }).middleware());
    else
      console.warn('Config file "../ext/di.yaml" not found - DI middleware disabled')
		{{#authMethods}}
		{{#isOAuth}}
		this.app.use('/oauth/authorize',
			express.static(path.join(__dirname, 'api', 'authorize.html')));
		this.app.use('/swagger-ui.css',
			express.static(path.join(__dirname, 'node_modules',
				'swagger-ui-dist', 'swagger-ui.css')));
		this.app.post('/oauth/authorize', (req, res, next) => {
			const getUser = this.app.oauth.server.options.model.getUser;
			const user = getUser(req.body.username, req.body.password)
				.then(user => user
					? next()
					: res.redirect(url.format({
							pathname: '/oauth/authorize',
							query: { success: false, ...req.query }
						}))
				);
		}, this.app.oauth.authorize({
			authenticateHandler: {
				handle: req => req.body
			}
		}));
		this.app.post('/oauth/token', this.app.oauth.token());
		{{/isOAuth}}
		{{/authMethods}}
		this.app.use(OpenApiValidator.middleware({
			apiSpec: this.openApiPath,
			//coerceTypes: 'array',
			securityValidators: {
				handlers: {
			{{#authMethods}}
					{{name}}: async (req, scopes, schema) => {
						{{#vendorExtensions.x-draig-auth-handler}}
						return AuthHandler.{{#lambda.camelcase}}{{name}}{{/lambda.camelcase}}(req, scopes, schema);
						{{/vendorExtensions.x-draig-auth-handler}}
						{{^vendorExtensions.x-draig-auth-handler}}
						{{#isOAuth}}
						// Default oauth handler for own authentication
						const request = new Request(req);
						const response = new Response(req.res);
						return undefined !== await this.app.oauth.server.authenticate(
							request, response, scopes.join(' '));
						{{/isOAuth}}
						{{/vendorExtensions.x-draig-auth-handler}}
					},
			{{/authMethods}}
				}
			}
		}));
		this.app.use(openapiRouter());
  }

  async launch() {
    return new Promise(
      async (resolve, reject) => {
        try {
					this.app.use((error, req, res, next) => {
						const errorResponse = error.error || error.errors || error.message || 'Unknown error';
						if(errorResponse === 'Invalid client: client credentials are invalid') {
							return res.redirect(url.format({
								pathname: '/oauth/authorize',
								query: { success: false, ...req.query }
							}));
						}
						res.status(error.status || 500);
						res.type('json');
						res.json({ error: errorResponse });
						(f => f(`${error.status} ${req.url} ${JSON.stringify(errorResponse)}`))
							(res.status === 500 ? logger.error : logger.info)
					});
          this.server = await this.app.listen(this.port, () => {
						logger.log({ message: `API running on http://localhost:${this.port}`
							+ `/api-docs `, level: 'info' });
            resolve(this.server);
          });
        } catch (error) {
          reject(error);
        }
      },
    );
  }

  async close() {
    if (this.server !== undefined) {
      await this.server.close();
      debug(`Server on port ${this.port} shut down`);
    }
  }
}

module.exports = ExpressServer;
