{{#dbClientSqlite3}}
const path = require('path')

{{/dbClientSqlite3}}
module.exports = {
	development: {
		client: '{{dbClient}}',
		connection: {
{{#dbClientSqlite3}}
			filename: path.resolve(__dirname, '{{dbName}}.sqlite3')
{{/dbClientSqlite3}}
{{^dbClientSqlite3}}
{{#dbClientMysql}}
			charset: 'utf8',
{{/dbClientMysql}}
			timezone: 'utc',
			host: '{{dbHost}}',
			user: '{{dbUserName}}',
			database: '{{dbName}}',
{{#dbClientOracledb}}
      connectString: '//{{dbHost}}:1521',
{{/dbClientOracledb}}
			password: '{{dbUserPassword}}'
{{/dbClientSqlite3}}
		},
{{#dbClientSqlite3}}
		useNullAsDefault: true,
{{/dbClientSqlite3}}
{{#dbClientOracledb}}
		pool: {
			afterCreate: async (conn, done) => {
				try {
					await conn.executeAsync(
						"ALTER SESSION SET NLS_TIMESTAMP_FORMAT='YYYY-MM-DD\"T\"HH24:MI:SS.FF\"Z\"'"
					)
				} catch (err) {
					done(err, conn)
				}
				done(null, conn)
			}
		},
{{/dbClientOracledb}}
{{#dbClientMysql}}
		pool: {
			afterCreate: async (conn, done) => {
				try {
					await conn.query('SET sql_mode="ALLOW_INVALID_DATES";')
				} catch (err) {
					done(err, conn)
				}
				done(null, conn)
			}
		},
{{/dbClientMysql}}
		debug: false,
		migrations: {
			tableName: 'knex_migrations'
		}
	}
}
