const Model = require('./utils/orm')
const { QueryBuilder } = require('objection')

// Pseudo private functions only used in DraigQueryBuilder
const m2id = (e, model) => e.replace(new RegExp(`^${model}_?id$`, 'i'), 'id')
const normIds = (model, o, preserveId) => Object.keys(o)
	.filter(e => preserveId || e !== 'id')
	.reduce((i, e) => ({ ...i, [m2id(e, model)]: o[e] }), {})
const array2json = o => Object.keys(o)
	.reduce((i, e) => ({
		...i,
		[e]: Array.isArray(o[e]) && o[e][0] && typeof o[e][0] === 'string'
			? decodeURI(JSON.stringify(o[e]))
			: typeof o[e] === 'string' ? decodeURI(o[e]): o[e]
	}), {})

// Custom QueryBuilder for filtering Ids and normalizing arrays
class DraigQueryBuilder extends QueryBuilder {
	upsertDraigGraphAndFetch(graph, options) {
		const m = this._modelClass
		const obj = array2json(normIds(m.name, graph, true))
		return m.query().upsertGraphAndFetch(obj, options)
	}
	insertDraigGraph(graph, preserveId) {
		const m = this._modelClass
		const normalize = o => array2json(normIds(m.name, o, false))
		return m.query().insertGraph(Array.isArray(graph)
			? graph.map(normalize) : normalize(graph))
	}
	// Normalize ids and remove undefined params
	whereCriteria(args) {
		const m = this._modelClass
		return Object.keys(args)
			.filter(p => args[p])
			.reduce((i, e) => Array.isArray(args[e])
				? i.whereIn(e, args[e].map(decodeURI))
				: i.where(m2id(e, m.name), decodeURI(args[e])),
				m.query()
			)
	}
}

class DraigModel extends Model {
	static get QueryBuilder() { return DraigQueryBuilder }
}

// Forward declared classes allows easier relationMappings setting
{{#models}}
{{#model}}
{{#vendorExtensions.x-draig-tableName}}
class {{classname}} extends DraigModel {
	static tableName = '{{.}}'
}
module.exports.{{classname}} = {{classname}}
{{#vendorExtensions.x-draig-optional}}
module.exports.{{.}} = {{classname}}
{{/vendorExtensions.x-draig-optional}}

{{/vendorExtensions.x-draig-tableName}}
{{/model}}
{{/models}}

// Set relationMappings for required classes
{{#models}}
{{#model}}
{{#vendorExtensions.x-draig-tableName}}
{{classname}}.relationMappings = {
{{#allVars}}
{{#isContainer}}
{{#items.isModel}}
	// array with modeled items: find from and to tables
	{{name}}: {
		{{#vendorExtensions.x-draig-sch-recip}}
		relation: Model.HasManyRelation,
		{{/vendorExtensions.x-draig-sch-recip}}
		{{^vendorExtensions.x-draig-sch-recip}}
		relation: Model.ManyToManyRelation,
		{{/vendorExtensions.x-draig-sch-recip}}
		modelClass: {{complexType}},
		join: {
			{{#vendorExtensions.x-draig-sch-recip}}
			from: '{{vendorExtensions.x-draig-sch-fromTable}}.id',
			to  : '{{vendorExtensions.x-draig-sch-toTable}}.{{.}}_id',
			{{/vendorExtensions.x-draig-sch-recip}}
			{{^vendorExtensions.x-draig-sch-recip}}
			from: '{{vendorExtensions.x-draig-sch-fromTable}}.id',
			through: {
			{{#vendorExtensions.x-draig-sch-relation}}
				from: '{{.}}.{{vendorExtensions.x-draig-sch-fromTable}}_id',
				to: '{{.}}.{{vendorExtensions.x-draig-sch-toTable}}_id',
			{{/vendorExtensions.x-draig-sch-relation}}
			{{^vendorExtensions.x-draig-sch-relation}}
				from: '{{vendorExtensions.x-draig-sch-fromTable}}_{{name}}.{{vendorExtensions.x-draig-sch-fromTable}}_id',
				to: '{{vendorExtensions.x-draig-sch-fromTable}}_{{name}}.{{vendorExtensions.x-draig-sch-toTable}}_id',
			{{/vendorExtensions.x-draig-sch-relation}}
			},
			to: '{{vendorExtensions.x-draig-sch-toTable}}.id'
			{{/vendorExtensions.x-draig-sch-recip}}
		}
	},
{{/items.isModel}}
{{/isContainer}}
{{^isContainer}}
{{#isModel}}
	{{name}}: {
		relation: Model.BelongsToOneRelation,
		modelClass: {{complexType}},
		join: {
			from: '{{vendorExtensions.x-draig-sch-fromTable}}.{{name}}_id',
			to  : '{{vendorExtensions.x-draig-sch-toTable}}.id',
		}
	},
{{/isModel}}
{{/isContainer}}
{{/allVars}}
}
{{/vendorExtensions.x-draig-tableName}}
{{/model}}
{{/models}}

// M2M relation tables
module.exports.allTabs = Object.keys(module.exports)
	.map(m => module.exports[m].tableName)
	.filter((val, i, self) => self.indexOf(val) === i)
module.exports.allRels = [
{{#models}}
{{#model}}
{{#vendorExtensions.x-draig-tableName}}
{{#allVars}}
{{#isContainer}}
{{#items.isModel}}
{{#vendorExtensions}}
{{^x-draig-sch-relation}}
{{^x-draig-sch-recip}}
	{{#-first}}module.exports.allRels = [{{/-first}}'{{x-draig-sch-fromTable}}_{{name}}',{{#-last}}]{{/-last}}
{{/x-draig-sch-recip}}
{{/x-draig-sch-relation}}
{{/vendorExtensions}}
{{/items.isModel}}
{{/isContainer}}
{{/allVars}}
{{/vendorExtensions.x-draig-tableName}}
{{/model}}
{{/models}}
	]
