const crypto = require('crypto')
const debug = require('debug')('oauth:OAuthModel')
{{#authMethods}}
{{#isOAuth}}
const User = require('./models').{{vendorExtensions.x-draig-auth-usermodel}};
{{/isOAuth}}
{{/authMethods}}

class OAuthModel {
	constructor() {
		this.clients = [
			{ id: 'client',
				secret: 'pass',
				redirectUris : ['http://localhost:3002/api-docs/oauth2-redirect.html'],
				grants: ['authorization_code', 'refresh_token']
			}
		]
		this.tokens = []
		this.authcodes = []
	}

	getAccessToken(bearerToken) {
		debug('getAccessToken%o', { bearerToken })

		return this.tokens.find(token => token.accessToken === bearerToken)
	}

	getRefreshToken(bearerToken) {
		debug('getRefreshToken%o', { bearerToken })

		return this.tokens.find(token => token.refreshToken === bearerToken)
	}

	getClient(clientId, clientSecret, cb) {
		debug('getClient%o', { clientId, clientSecret })

		cb(undefined, this.clients.find(client => client.id === clientId
			&& (clientSecret ? client.secret === clientSecret : true)))
	}
	
	saveToken(token, client, user, cb) {
		debug('saveToken%O', { token, client, user })
		const result = { ...token, client, user }
		this.tokens.push(result)

		cb(undefined, result)
	}

	revokeToken(token, cb) {
		debug('revokeToken%o', { token })
		this.tokens = this.tokens.filter(t => t !== token)

		cb(undefined, true)
	}

	getUser(username, password) {
		debug('getUser%o', { username, password })
		//password = crypto.pbkdf2Sync(password, 'salt', 100000, 32, 'sha512')
		//	.toString('hex')

		return User.query().findOne({ username, password })
	}

	saveAuthorizationCode(code, client, user, cb) {
		debug('saveAuthorizationCode%O', { code, client, user })
		const authCode = { ...code, client, user }
		this.authcodes.push(authCode)

		cb(undefined, authCode)
	}

	revokeAuthorizationCode(code, cb) {
		debug('revokeAuthorizationCode%O', { code })

		cb(undefined, true)
	}

	getAuthorizationCode(code, cb) {
		debug('getAuthorizationCode%o', { code })
		const res = this.authcodes.find(c => c.authorizationCode === code)

		cb(undefined, { code: res.authorizationCode, ...res })
	}

	verifyScope(token, scope, cb) {
		debug('verifyScope%O', { token, scope })
		const requiredScopes = scope ? scope.split(' ') : []
		const authorizedScopes = token.scope ? token.scope.split(' ') : []
		debug('required: %o, authorized: %o', requiredScopes, authorizedScopes)

		cb(undefined, requiredScopes.every(s => authorizedScopes.indexOf(s) >= 0))
	}
}

module.exports = OAuthModel
