{
  "name": "{{projectName}}",
  "version": "{{appVersion}}",
  "description": "{{{appDescription}}}",
  "main": "index.js",
  "scripts": {
		"test": "mocha --exit --require test/rootHooks.js",
		"seed": "knex seed:run",
    "start": "nodemon --ext js,json,yaml -w . -w ../ext index.js",
		"migrate-up": "knex migrate:latest",
    "migrate-down": "knex migrate:down 01_create_tables.js"
  },
  "keywords": [
    "openapi-generator",
    "openapi"
  ],
  "license": "Unlicense",
  "private": true,
  "dependencies": {
    "body-parser": "^1.19.0",
    "connect": "^3.2.0",
    "cookie-parser": "^1.4.4",
    "cors": "^2.8.5",
    "express": "^4.16.4",
    "express-openapi-validator": "^5.2.0",
		"express-winston": "^4.1.0",
    "js-yaml": "^3.3.0",
    "jstoxml": "^1.5.0",
{{#dbClientMysql}}
    "mysql": "^2.18.1",
{{/dbClientMysql}}
{{#dbClientSqlite3}}
    "sqlite3": "^5.1.7",
		"@vscode/sqlite3": "^5.1.6-vscode",
{{/dbClientSqlite3}}
{{#dbClientPg}}
		"pg": "^8.0.3",
{{/dbClientPg}}
{{#dbClientOracledb}}
		"oracledb": "^4.2.0",
{{/dbClientOracledb}}
		"objection": "^3.0.1",
    "knex": "^1.0.3",
    "node-dependency-injection-express-middleware": "^1.2.2",
    "ono": "^5.0.1",
    "openapi-sampler": "^1.0.0-beta.15",
    "supertest": "^4.0.2",
    "swagger-ui-express": "^4.0.2",
    "winston": "^3.2.1",
    "yamljs": "^0.3.0",
    "axios": "^0.19.0",
    "chai": "^4.2.0",
    "chai-as-promised": "^7.1.1",
    "eslint": "^5.16.0",
    "eslint-config-airbnb-base": "^13.1.0",
    "eslint-plugin-import": "^2.17.2",
    "express-oauth-server": "^2.0.0",
    "express-xml-bodyparser": "^0.3.0",
    "form-data": "^2.3.3"
  },
  "eslintConfig": {
    "env": {
      "node": true
    }
  },
  "devDependencies": {
    "mustache": "^4.0.0",
    "mocha": "^8.3.2",
    "nodemon": "^2.0.2"
  }
}
