const assert = require('assert')
const request = require('supertest')
const knex = require('../utils/orm').knex()
const {{classname}}Service = require('../services/{{classname}}Service')

const toPath = (u, h) => Object.keys(h).reduce((i, e) => i.replace('{'+e+'}', h[e]), u)

describe('{{classname}}', function() {
{{#operations}}
{{#operation}}
{{#responses}}
{{#vendorExtensions}}
{{#x-draig-test-fixture}}
	describe('{{operationId}} {{code}}', function() {
		it('should return {{message}}', async function() {
			let response = await {{classname}}Service.{{operationId}}({ {{#x-draig-test-fixture.entrySet}}{{key}}: {{&value}}, {{/x-draig-test-fixture.entrySet}} })
			assert(response.code === {{code}})
		})
	})
{{/x-draig-test-fixture}}
{{#x-draig-validation-fixture}}
	describe('{{operationId}} {{code}}', function() {
		it('should validate {{message}}', function(done) {
			request(require('../index').app)
				.{{httpMethod}}(
				{{#inpath}}
					toPath('{{path}}', { {{#entrySet}}{{key}}: {{&value}},{{/entrySet}} })
				{{/inpath}}
				{{^inpath}}
					'{{path}}'
				{{/inpath}}
				)
				{{#inquery}}
				.query({ {{#entrySet}}{{key}}: {{&value}}, {{/entrySet}} })
				{{/inquery}}
				{{#inbody}}
				.send({{&.}})
				{{/inbody}}
				.expect({{code}}, done)
		}).timeout(10000)
	})
{{/x-draig-validation-fixture}}
{{/vendorExtensions}}
{{/responses}}
{{/operation}}
{{/operations}}
})
