/* eslint-disable no-unused-vars */
const Service = require('./Service');
const knex = require('../utils/orm').knex();
{{#imports}}
const {{classname}} = require('../models').{{classname}}; // {{import}}
{{/imports}}

class {{{classname}}}Service {
{{#operations}}
{{#operation}}
  /**
   {{#summary}}
   * {{{summary}}}
   {{/summary}}
   {{#notes}}
   * {{{notes}}}
   {{/notes}}
   *
  {{#allParams}}
   * {{paramName}} {{{dataType}}} {{{description}}}{{^required}} (optional){{/required}}
  {{/allParams}}
  {{^returnType}}
   * no response value expected for this operation
  {{/returnType}}
  {{#returnType}}
   * returns {{{returnType}}}
  {{/returnType}}
   **/
	 static {{{operationId}}}({{#vendorExtensions.x-draig-di-service}}reqParams{{/vendorExtensions.x-draig-di-service}}{{^vendorExtensions.x-draig-di-service}}{ {{#hasFormParams}}body, {{/hasFormParams}}{{#hasBodyParam}}body, {{/hasBodyParam}}{{#allParams}}{{^isBodyParam}}{{^isFormParam}}{{paramName}}, {{/isFormParam}}{{/isBodyParam}}{{/allParams}} }{{/vendorExtensions.x-draig-di-service}}) {
    return new Promise(
      async (resolve) => {
        try {
          {{#vendorExtensions}}
					{{#x-draig-di-service}}
					if(!reqParams.container)
						throw({ message: 'Service file ../ext/di.yaml not found' });
					const service = reqParams.container.get('{{.}}');
					let result = await service.invoke(reqParams);
					resolve(Service.successResponse(result));
					{{/x-draig-di-service}}
					{{^x-draig-di-service}}
          {{#x-draig-get}}
          {{#x-draig-query}}
            let rows = await {{&.}}
						{{#x-draig-transform}}rows = {{&.}}{{/x-draig-transform}}
						if(rows) resolve(Service.successResponse(rows));
						else throw({ status:404, message:"Not found" });
          {{/x-draig-query}}
          {{^x-draig-query}}
          // create criteria without undefined attributes
          let criteria = { {{#allParams}}{{^isHeaderParam}}{{paramName}}, {{/isHeaderParam}}{{/allParams}} }
					let rows = await {{x-draig-model}}{{^x-draig-model}}{{returnBaseType}}{{^returnBaseType}}{{{classname}}}{{/returnBaseType}}{{/x-draig-model}}.query().whereCriteria(criteria){{#vendorExtensions.x-draig-allow-graph}}{{#-first}}.allowGraph('{{vendorExtensions.x-draig-allow-graph}}{{/-first}}{{#-last}}'){{/-last}}{{/vendorExtensions.x-draig-allow-graph}}{{#allParams}}{{#isHeaderParam}}.withGraphFetched({{paramName}} ? '[' + {{paramName}} + ']' : ''){{/isHeaderParam}}{{/allParams}};
					{{#x-draig-transform}}rows = {{&.}}{{/x-draig-transform}}
          resolve(rows.length ? Service.successResponse(rows)
            : Service.rejectResponse('No data found', 404));
          {{/x-draig-query}}
          {{/x-draig-get}}
          {{#x-draig-post}}
					let obj = await {{#hasBodyParam}}{{bodyParam.baseType}}{{/hasBodyParam}}{{^hasBodyParam}}{{baseName}}{{/hasBodyParam}}.query().insertDraigGraph({{#hasBodyParam}}body{{/hasBodyParam}}{{#hasFormParams}}body{{/hasFormParams}}{{^hasFormParams}}{{#allParams}}{{^isBodyParam}}{{#-first}}{ {{/-first}}{{paramName}}, {{#-last}} }{{/-last}}{{/isBodyParam}}{{/allParams}}{{/hasFormParams}});
          resolve(Service.successResponse(obj, 201));
          {{/x-draig-post}}
          {{#x-draig-put}}
          // body is always required to point to the put resource
					let obj = await {{x-draig-model}}{{^x-draig-model}}{{#hasBodyParam}}{{bodyParam.baseType}}{{/hasBodyParam}}{{^hasBodyParam}}{{baseName}}{{/hasBodyParam}}{{/x-draig-model}}.query().upsertDraigGraphAndFetch(
						{ ...body, {{#allParams}}{{^isBodyParam}}{{^isFormParam}}{{paramName}}, {{/isFormParam}}{{/isBodyParam}}{{/allParams}}},
            { relate: true, unrelate: true }
          );
          resolve(Service.successResponse({{#returnBaseType}}obj{{/returnBaseType}}{{^returnBaseType}}{}{{/returnBaseType}}, 200));
          {{/x-draig-put}}
          {{#x-draig-patch}}
          // Id is always required to point to the patched resource
          let obj = await {{returnBaseType}}{{^returnBaseType}}{{bodyParam.baseType}}{{/returnBaseType}}.query().upsertDraigGraphAndFetch(
						{ ...body, {{#allParams}}{{^isBodyParam}}{{^isFormParam}}{{paramName}}, {{/isFormParam}}{{/isBodyParam}}{{/allParams}}},
            { relate: true, unrelate: true, allowRefs: true }
          );
          resolve(Service.successResponse({{#returnBaseType}}obj{{/returnBaseType}}{{^returnBaseType}}{}{{/returnBaseType}}, 200));
          {{/x-draig-patch}}
					{{#x-draig-delete}}
					const criteria = { {{#requiredParams}}{{paramName}}, {{/requiredParams}} }
          const deleted = await {{x-draig-model}}{{^x-draig-model}}{{baseName}}{{/x-draig-model}}.query().whereCriteria(criteria).del();
          if(deleted) resolve(Service.successResponse(null, 204));
          else resolve(Service.successResponse('No data found', 404));
          {{/x-draig-delete}}
					{{/x-draig-di-service}}
          {{/vendorExtensions}}
        } catch (e) {
          resolve(Service.rejectResponse(
            e.message || e.data.message || 'Invalid input',
            e.status || e.statusCode || 405,
          ));
        }
      },
    );
  }
{{/operation}}
{{/operations}}
}

module.exports = {{{classname}}}Service;
