exports.up = function(knex) {
	return knex.schema
		// Create regular tables
		{{#models}}
		{{#model}}
		{{^vendorExtensions.x-draig-sch-raw}}
		{{#vendorExtensions.x-draig-tableName}}
		.createTable('{{.}}', t => {
			{{#allVars}}
			{{#vendorExtensions.x-draig-sch-type-autokey}}
			t.increments('{{name}}').primary()
			{{/vendorExtensions.x-draig-sch-type-autokey}}
			{{^vendorExtensions.x-draig-sch-type-autokey}}
			{{#isEnum}}
			t.enum('{{name}}', [{{#_enum}}"{{.}}", {{/_enum}}]).defaultTo({{&defaultValue}}){{#required}}.notNull(){{/required}}
			{{/isEnum}}
			{{^isEnum}}
			{{#isDateTime}}
			t.timestamp('{{name}}', { precision:6, useTz:true }){{#vendorExtensions.x-draig-sch-type-default}}.defaultTo({{&.}}){{/vendorExtensions.x-draig-sch-type-default}}{{#required}}.notNull(){{/required}}
      {{/isDateTime}}
      {{^isDateTime}}
      {{#isContainer}}
      {{^items.isModel}}
      t.json('{{name}}'){{#required}}.notNull(){{/required}}
      {{/items.isModel}}
      {{/isContainer}}
      {{^isContainer}}
      {{#isModel}}
			t.integer('{{name}}_id').unsigned(){{#required}}.notNull(){{/required}}
			{{#dbClientSqlite3}}
			t.foreign('{{name}}_id').references('{{vendorExtensions.x-draig-sch-toTable}}.id')
			{{/dbClientSqlite3}}
      {{/isModel}}
      {{^isModel}}
      t.{{#isString}}{{#maxLength}}string{{/maxLength}}{{^maxLength}}string{{/maxLength}}{{/isString}}{{^isString}}{{#isFloat}}decimal{{/isFloat}}{{^isFloat}}{{openApiType}}{{/isFloat}}{{/isString}}('{{name}}'{{#maxLength}}, {{.}}{{/maxLength}}).defaultTo({{&defaultValue}}){{#required}}.notNull(){{/required}}
			{{#vendorExtensions.x-draig-sch-unique}}
			t.unique('{{name}}')
			{{/vendorExtensions.x-draig-sch-unique}}
      {{/isModel}}
			{{/isContainer}}
			{{/isDateTime}}
			{{/isEnum}}
			{{/vendorExtensions.x-draig-sch-type-autokey}}
			{{/allVars}}
		})
		{{/vendorExtensions.x-draig-tableName}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}
		{{^dbClientSqlite3}}

		// Create foreign keys
		{{#models}}
		{{#model}}
		{{^vendorExtensions.x-draig-sch-raw}}
		{{#vendorExtensions.x-draig-tableName}}
		{{#allVars}}
		{{^isContainer}}
		{{#isModel}}
		{{#vendorExtensions}}
		.table('{{x-draig-sch-fromTable}}', t => t.foreign('{{name}}_id').references('{{x-draig-sch-toTable}}.id'))
		{{/vendorExtensions}}
		{{/isModel}}
		{{/isContainer}}
		{{/allVars}}
		{{/vendorExtensions.x-draig-tableName}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}
		{{/dbClientSqlite3}}

		// Create views
		{{#models}}
		{{#model}}
		{{#vendorExtensions.x-draig-sch-raw}}
		{{#dbClientOracledb}}
		{{#oracledb}}
		.raw('{{& create}}')
		{{/oracledb}}
		{{/dbClientOracledb}}
		{{^dbClientOracledb}}
		.raw('{{& create}}')
		{{/dbClientOracledb}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}

		// Create tables for n2m relationships
		{{#models}}
		{{#model}}
		{{^vendorExtensions.x-draig-sch-raw}}
		{{#vendorExtensions.x-draig-tableName}}
		{{#allVars}}
    {{#isContainer}}
    {{#items.isModel}}
		{{#vendorExtensions}}
		{{^x-draig-sch-relation}}
		{{^x-draig-sch-recip}}
    // Many to many relationship '{{x-draig-sch-fromTable}}_{{name}}'
		.createTable('{{x-draig-sch-fromTable}}_{{name}}', t => {
			t.integer('{{x-draig-sch-fromTable}}_id').unsigned().notNull()
			t.foreign('{{x-draig-sch-fromTable}}_id').references('{{x-draig-sch-fromTable}}.id')
			t.integer('{{x-draig-sch-toTable}}_id').unsigned().notNull()
			t.foreign('{{x-draig-sch-toTable}}_id').references('{{x-draig-sch-toTable}}.id')
			t.unique(['{{x-draig-sch-fromTable}}_id', '{{x-draig-sch-toTable}}_id'])
		})
		{{/x-draig-sch-recip}}
		{{/x-draig-sch-relation}}
		{{/vendorExtensions}}
    {{/items.isModel}}
    {{/isContainer}}
		{{/allVars}}
		{{/vendorExtensions.x-draig-tableName}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}
}

exports.down = function(knex) {
	return knex.schema
		{{^dbClientSqlite3}}
		// Drop foreign keys
		{{#models}}
		{{#model}}
		{{^vendorExtensions.x-draig-sch-raw}}
		{{#vendorExtensions.x-draig-tableName}}
		{{#allVars}}
		{{^isContainer}}
		{{#isModel}}
		{{#vendorExtensions}}
		.table('{{x-draig-sch-fromTable}}', t => t.dropForeign('{{name}}_id'))
		{{/vendorExtensions}}
		{{/isModel}}
		{{/isContainer}}
		{{/allVars}}
		{{/vendorExtensions.x-draig-tableName}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}

		{{/dbClientSqlite3}}
		// Drop tables for n2m relationships
		{{#models}}
		{{#model}}
		{{^vendorExtensions.x-draig-sch-raw}}
		{{#vendorExtensions.x-draig-tableName}}
		{{#allVars}}
    {{#isContainer}}
    {{#items.isModel}}
		{{#vendorExtensions}}
		{{^x-draig-sch-relation}}
		{{^x-draig-sch-recip}}
		.dropTableIfExists('{{x-draig-sch-fromTable}}_{{name}}')
		{{/x-draig-sch-recip}}
		{{/x-draig-sch-relation}}
		{{/vendorExtensions}}
    {{/items.isModel}}
    {{/isContainer}}
		{{/allVars}}
		{{/vendorExtensions.x-draig-tableName}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}

		// Drop views
		{{#models}}
		{{#model}}
		{{#vendorExtensions.x-draig-sch-raw}}
		{{#dbClientOracledb}}
		{{#oracledb}}
		.raw('{{& drop}}')
		{{/oracledb}}
		{{/dbClientOracledb}}
		{{^dbClientOracledb}}
		.raw('{{& drop}}')
		{{/dbClientOracledb}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}

		// Drop regular tables
		{{#models}}
		{{#model}}
		{{^vendorExtensions.x-draig-sch-raw}}
		{{#vendorExtensions.x-draig-tableName}}
		.dropTableIfExists('{{.}}')
		{{/vendorExtensions.x-draig-tableName}}
		{{/vendorExtensions.x-draig-sch-raw}}
		{{/model}}
		{{/models}}
}
