const db = require('../../seed-database')

function insertAll(knex, table) {
	if(!db[table] || !db[table].length) return {}
	return Promise.resolve()
		{{#dbClientPg}}
		.then(() => knex.raw('truncate ?? restart identity cascade', table))
		{{/dbClientPg}}
		{{#dbClientSqlite3}}
		.then(() => knex(table).truncate())
		{{/dbClientSqlite3}}
		{{#dbClientOracledb}}
		.then(() => knex(table).del())
		{{/dbClientOracledb}}
		{{#dbClientMysql}}
		.then(() => knex.raw('set foreign_key_checks=0'))
		.then(() => knex(table).truncate())
		.then(() => knex.raw('set foreign_key_checks=1'))
		{{/dbClientMysql}}
		.then(() => knex(table).insert(db[table]))
		.then(() => knex(table).count({ [table]: '*'}))
		.then(r => ({ ...r[0] }))
}

exports.seed = async function(knex) {
	return {
	{{#models}}
	{{#model}}
	{{#vendorExtensions.x-draig-tableName}}
	{{^vendorExtensions.x-draig-sch-raw}}
		...await insertAll(knex, '{{.}}'),
	{{/vendorExtensions.x-draig-sch-raw}}
	{{/vendorExtensions.x-draig-tableName}}
	{{/model}}
	{{/models}}
	{{#models}}
	{{#model}}
	{{^vendorExtensions.x-draig-sch-raw}}
	{{#vendorExtensions.x-draig-tableName}}
	{{#allVars}}
	{{#isContainer}}
	{{#items.isModel}}
	{{#vendorExtensions}}
	{{^x-draig-sch-relation}}
	{{^x-draig-sch-recip}}
		...await insertAll(knex, '{{x-draig-sch-fromTable}}_{{name}}'),
	{{/x-draig-sch-recip}}
	{{/x-draig-sch-relation}}
	{{/vendorExtensions}}
	{{/items.isModel}}
	{{/isContainer}}
	{{/allVars}}
	{{/vendorExtensions.x-draig-tableName}}
	{{/vendorExtensions.x-draig-sch-raw}}
	{{/model}}
	{{/models}}
	}
}
